header {
  background-color: white;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header > button {
  background-color: white;
  border: none;
  padding: 5px;
  font-size: 25px;
}
header > button:hover {
  border-bottom: 5px solid black;
}
body {
  background-color: blue;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.main1 {
  background-color: yellow;
}
.main1 > div {
  height: 500px;
  background-color: red;
}
footer {
  background-color: green;
  height: 75px;
}
