@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header > .sectionButton {
  text-decoration: none;
  color: black;
  background-color: white;
  border: none;
  padding: 5px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
header > .sectionButton:hover {
  border-bottom: 5px solid black;
}
body {
  background-color: darkgrey;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.main {
  margin-top: 100px;
}

.about {
  min-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.image {
  flex-grow: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.image > img {
  width: 500px;
  box-shadow: 0 0 8px 8px grey;
}
.bio {
  flex-grow: 0.5;
  background-color: grey;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px;
}
.contact {
  background-color: darkgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  flex-wrap: wrap;
}
.contactInfo {
  flex-grow: 1;
  background-color: grey;
  text-align: center;
  min-width: 300px;
  max-width: 500px;
  padding: 40px;
  margin: 40px;
}
.porfolio {
  padding-top: 100px;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  max-height: 600px;
  padding: 20px;
  margin: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
.project:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
}
.project > img {
  width: 400px;
  height: 300px;
  padding: 30px;
}
footer {
  background-color: darkgrey;
  height: 50px;
}
a > img {
  transition: transform 0.7s ease-in-out;
  width: 30px;
  border-radius: 10px;
  margin-top: 10px;
}
a > img:hover {
  transform: rotate(360deg);
}
.imageContainer {
  display: flex;
  align-items: center;
}
.projectLinks > a {
  text-decoration: none;
  color: white;
  margin: 20px;
}
.projectLinks > a:hover {
  border-bottom: solid white;
}
.projectLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .project > img {
    width: 300px;
    height: 200px;
    padding: 10px;
  }
  .image > img {
    width: 300px;
    padding: 30px;
  }
}
